body {
    font-family: 'Roboto', sans-serif;
    background-color: #a886b6;
    text-align: center;
    margin: 0;
    padding: 20px;
}

input {
    width: 270px;
    padding: 12px;
    margin: 10px;
    font-size: 1.2em;
    border: 2px solid #76aac0;
    border-radius: 8px;
    background-color: #ffffff;
    color: #2a2a2a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
